.MuiButtonBase-root a:link {
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  border-bottom: 1px solid rgba(237, 186, 119, 0.24478294735863093);
}

.RaSidebar-fixed a:visited {
  background-image: linear-gradient(to bottom right, #0100ec, #fb36f4);
  border-bottom: 1px solid rgba(237, 186, 119, 0.24478294735863093);
}
.RaSidebar-fixed a {
  border-bottom: 1px solid;
}

.RaSidebar-fixed a:focus {
  background: rgb(161, 186, 219);
}

.RaSidebar-fixed a:hover {
  background: rgb(240, 248, 255);
}
.RaSidebar-fixed {
  background: rgb(206, 218, 235);
}
#root > div > div > div > div > main > div.RaSidebar-docked > div > div {
  height: 100%;
}
.MuiPaper-root.MuiAppBar-positionFixed {
  background: rgb(91, 122, 164);
}

.RaDatagrid-tableWrapper thead tr {
  color: #ffffff;
  text-align: left;
}

/*.RaDatagrid-tableWrapper tbody tr:nth-of-type(even) {
  background: rgb(230, 235, 242);
}
.RaDatagrid-tableWrapper a {
  color: rgb(1, 122, 164);
}
*/
.css-17tmrxl a {
  color: rgb(1, 122, 164);
}
css-17tmrxl button {
  color: rgb(11, 122, 164);
}
.css-16zittn.MuiButton-sizeSmall {
  color: rgb(136, 93, 61);
}
.css-1n0ba4w .RaReferenceField-link span {
  color: rgb(136, 93, 61);
}

.react-json-view path {
  color: rgb(136, 93, 61);
}

.RaDatagrid-tableWrapper a {
  color: rgb(136, 93, 61);
}

#block_select_page_id {
  width: 210px;
}

#main-content > div > div > div > div > div > table > tbody > tr > td > button {
  border-radius: 0%;
  color: #d10000;
}

#main-content
  > div
  > div.RaEdit-main
  > div
  > form
  > div.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.RaToolbar-desktopToolbar.css-16qrmh1-MuiToolbar-root-RaToolbar-root
  > button {
  border: 1px;
  background: linear-gradient(
    30deg,
    rgba(86, 171, 47, 0.037500034193364895) 2%,
    rgba(168, 224, 99, 0.04310227508972342) 100%
  );
  color: black;
}

.css-t039ty-MuiButtonBase-root-MuiButton-root-RaSaveButton-root.Mui-disabled:active {
  background-color: white;
}
/*#main-content > div > div.RaEdit-main > div > form > div.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.RaToolbar-desktopToolbar.css-16qrmh1-MuiToolbar-root-RaToolbar-root > button:hover{
  

  background: linear-gradient(
    30deg,
    rgba(29, 151, 108, 0.46887258321297265) 0%,
    rgba(147, 249, 185, 0.4660714627647934) 48%,
    rgba(0, 0, 0, 0.4660714627647934) 100%
  );
  transition: 0.9s ease;

 
  
}*/

#main-content > div > div > div > form > div > button {
  background: white;
  width: 9em;
  height: 3em;
  color: black;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: absolute;
  z-index: 1;
}

#main-content > div > div > div > form > div > button::before {
  content: "";
  width: 0;
  border-radius: 4px;
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;

  background: rgb(241, 39, 17);
  background: linear-gradient(
    30deg,
    rgba(241, 39, 17, 0.3512255243894433) 0%,
    rgba(244, 145, 23, 0.3680322470785189) 39%,
    rgba(243, 106, 21, 0.36523112663033963) 72%,
    rgba(245, 175, 25, 0.40164569245667014) 100%
  );
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

#main-content > div > div > div > form > div > button:hover::before {
  width: 9em;
}
#main-content
  > div
  > div
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.RaList-content.css-bhp9pd-MuiPaper-root-MuiCard-root
  > div
  > div
  > table
  > tbody
  > tr
  > td
  > a {
  justify-content: flex-start;
}

.RaList-main a {
  color: rgba(110, 57, 0, 1);
}
.RaList-actions button {
  color: #291680;
}
.RaList-content {
  background: rgba(245, 245, 245, 0.5024860285911239);
}

#main-content > div > div > div > div > div > table > tbody > tr > td > button {
  justify-content: flex-start;
}

table {
  background: rgba(218, 218, 218, 0.19996502018776263);
}

.button-show {
  background-repeat: no-repeat;
  width: fit-content;
  height: 42px;
  align-content: center;
  z-index: 1;
  overflow: hidden;
}

.button-show::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(255, 224, 0, 0.2755952722886029) 0%,
    rgba(121, 159, 12, 0.2391807064622724) 100%
  );
  transition: 0.5s ease;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: inline-block;
}

.button-show:hover::before {
  width: 100%;
}

.button-edit {
  background-repeat: no-repeat;
  width: fit-content;
  height: 42px;
  align-content: center;
  z-index: 1;
  overflow: hidden;
}

.button-edit::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(252, 234, 187, 0.37923672887123594) 0%,
    rgba(204, 128, 29, 0.48567930590204833) 100%
  );
  transition: 0.5s ease;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.button-edit:hover::before {
  width: 100%;
}

.button-delete {
  background-repeat: no-repeat;
  width: fit-content;
  height: 42px;
  align-content: center;
  z-index: 1;
  overflow: hidden;
}

.button-delete::before {
  content: "";
  background: linear-gradient(
    30deg,
    rgba(255, 251, 213, 0.8442227232689951) 0%,
    rgba(227, 163, 151, 1) 72%,
    rgba(178, 10, 44, 0.6033263647255778) 100%
  );
  transition: 0.5s ease;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.button-delete:hover::before {
  width: 100%;
}
#main-content > div > div > div > div > div > table > tbody > tr > td > a {
  border-radius: 0%;
}
#main-content > div > div > div > div > div > table > tbody > tr > td > button {
  border-radius: 0%;
}
#main-content > div > div > div > div > div > table > thead > tr > th {
  background: rgba(240, 211, 125, 0.03189779329700626);
}

#main-content
  > div
  > div.RaShow-main
  > div
  > div
  > div.MuiTabs-root.css-1ujnqem-MuiTabs-root
  > div
  > div
  > a.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.show-tab.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: rgb(25, 25, 112);
}

#main-content
  > div
  > div.RaShow-main
  > div
  > div
  > div.MuiTabs-root.css-1ujnqem-MuiTabs-root
  > div
  > span.css-1aquho2-MuiTabs-indicator {
  background-color: rgb(25, 25, 112);
}

.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.form-tab.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: rgb(25, 25, 112);
}

.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  background-color: rgb(25, 25, 112);
}

#main-content
  > div
  > div.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1q2ae6k-MuiToolbar-root-RaTopToolbar-root
  > a {
  color: rgb(224, 255, 255);
}

.page-preview-container {
  flex: 3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.block-preview-container {
  flex: 7;
  align-items: center;
  justify-content: center;
  display: flex;
}

.edit-container {
  display: flex;
}

.css-4e85xd-RaTabbedShowLayout-root .RaTabbedShowLayout-content {
  height: 83.5vh;
}

.p_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .css-1a69w1n-MuiStack-root {
    height: 180vh;
  }
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(224, 255, 255) 100%,
    rgba(224, 255, 255, 0.13273812943146013) 100%
  );
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 62%,
    rgba(83, 64, 49, 1) 93%
  );
  margin-top: -48px;
}

.block-edit-button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 7px 20px 17px -10px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem 1.35rem;
  margin-top: 10px;
  width: fit-content;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.block-edit-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.block-edit-button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
#main-content > div > div > div > div > div > table > thead > tr > th {
  background: rgba(206, 218, 235);
  position: relative;
}
