main {
  background: rgba(99, 111, 164, 0.08);
}
#main-content {
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
}
#root > div > div > div > div > main > div > div > div {
  height: 100%;
}
.chat-container {
  flex-basis: auto;
  display: flex;
  height: 89.5vh;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* CSS styles for chat list */
.chat-list {
  position: relative;
  flex: 1;
  border-right: 1px solid #ccc;
  /*  overflow-y: auto;*/
  background: rgba(99, 111, 164, 0.2);
  width: 100%;
  height: 86.5vh;
  box-shadow: 0px 3px rgba(218, 217, 218, 0.7209734235491072);
  overflow-x: auto;
}

.chat-list-item {
  padding: 10px;
  padding-top: 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  color: rgba(88, 88, 88, 1);
  display: flex;
}

.chat-list-item:hover {
  color: white;
  background: linear-gradient(to left, rgba(66, 60, 93, 0.7), #928dab);
}

.chat-list-item.active {
  color: white;
  background: linear-gradient(to left, rgba(66, 60, 93, 0.7), #928dab);
}

.messageCounter {
  color: white;
  width: 25px;
  height: 25px;
  background-color: #a8a2c3;
  border-radius: 50%;
  text-align: center;
  margin-left: 40px;
}

.phoneBlock {
  background-color: none;
  margin-left: 10px;
}

/* CSS styles for chat area */
.chat-area {
  width: 100%;
  height: 100%;
  flex: 4.5 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: rgba(99, 111, 164, 0.08);
  padding: 15px 0 40px 0;
  height: 86.5vh;
}

.message.merchant {
  text-align: right;
  display: contents;
}

.message-text {
  /*  padding: 1%;*/
}

.message.client {
  text-align: left;
  display: contents;
}

.message.merchant div.content {
  background: linear-gradient(to left, rgba(66, 60, 93, 0.7), #928dab);
  color: white;
  border-radius: 25px;
  word-wrap: break-word;
  max-width: fit-content;
  width: 200px;
  padding: 10px 20px;

  text-align: start;
  align-self: flex-end;
  margin-right: 2%;
}

.message.client div.content {
  background-color: #e2e0eb;
  border-radius: 25px;
  word-wrap: break-word;
  max-width: 30%;
  padding: 10px 20px;
  text-align: flex-start;
  align-self: flex-start;
  margin-left: 2%;
}

.message .timestamp {
  font-size: 0.8em;
  color: #888;
  margin: 2px 40px;
  padding-bottom: 12px;
}

span.sender {
  align-self: flex-end;
  padding-left: 7px;
}

form {
  width: 100%;
}
.input-container {
  background: #cbcfe0;
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  position: relative;
}

.input-container input[type="text"] {
  width: 90%;
  height: auto;
  padding: 5px;
  border: none;
}

.input-container input[type="submit"] {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .chat-container {
    flex-direction: column;
  }

  .chat-list {
    flex: 2;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .chat-area {
    flex: 2;
  }
  .sendButton {
    color: rgba(66, 60, 93, 0.75);
    background-color: rgba(226, 224, 235, 1);
    width: 10%;
    height: 90%;
    font-size: 0px;
    border: none;
  }
  .sendButton:hover {
    background: rgba(99, 111, 164, 0.08);
    font-size: 0px;
  }
  .sendButton svg {
    width: 10px;
    height: 10px;
  }
}

.sendButton {
  color: rgba(66, 60, 93, 0.75);
  background-color: rgba(226, 224, 235, 1);
  width: 10%;
  height: 100%;
  border: none;
}

.sendButton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.sendButton:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.sendButton:hover {
  background: rgba(99, 111, 164, 0.08);
  font-size: 0px;
}
