/* home.css */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap");

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.page-container {
  display: flex;
  flex-direction: column; /* Ensure nav is on top */
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background: url("../img/mainHeaderBackground2.jpg") no-repeat center center
    fixed;
  background-size: cover;
  overflow: hidden;
}

.content-container {
  display: flex; /* Ensures header and main content are side by side */
  width: 100%;
  flex: 1;
}

.header {
  font-family: "Lexend", sans-serif; /* Apply Lexend font */
  background-color: rgba(
    25,
    25,
    25,
    0.8
  ); /* Semi-transparent background for header */
  color: #fff;
  padding: 3% 0;
  text-align: center;
  flex: 0 0 55%; /* Header takes up 60% */
}

.header-content {
  margin-top: 23%;
}

.header-title {
  font-size: 100px; /* Увеличенный размер шрифта */
  margin: 0;
  font-weight: 200; /* Начертание Regular */
  line-height: 1.1; /* Высота строки уменьшена */
}

.line {
  margin: 0; /* Убираем отступы */
}

.header-description {
  color: white;
  font-size: 16px;
  width: 70%;
  padding-left: 15%;
  padding-top: 1%;
  font-weight: 50;
  opacity: 0.6;
}

.main-content {
  font-family: "Lexend";
  background-color: rgba(
    25,
    25,
    25,
    0.8
  ); /* Semi-transparent background for main content */
  flex: 0 0 45%; /* Main content takes up 40% */
  padding: 3% 0;
}

.location-grid {
  margin-top: 15%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  gap: 40px; /* Увеличенный промежуток между элементами */
  margin-right: 25%; /* Отодвинуть сетку от правой стороны на 10% */
}

.location-item {
  background-color: #ccc; /* Серый цвет фона для каждого элемента */
  margin-bottom: 10px;
  border-radius: 15px; /* Закругленные углы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 320px; /* Увеличенная высота блока */
  background-size: cover; /* Ensures the image covers the block */
  background-position: center; /* Centers the image within the block */
  display: flex;
  align-items: flex-end; /* Place text at the bottom */
  color: white; /* White font color */
}

.location-item a {
  text-decoration: none; /* Remove underline */
  color: white; /* White font color for links */
}

.location-item a:hover {
  text-decoration: underline; /* Underline on hover */
}

.location-address-info {
  background-color: rgba(0, 0, 0, 0.8); /* Black with 50% transparency */
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
