@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap");

body {
	margin: 0;
	font-family: "Lexend", sans-serif;
	background-color: #f4f4f4;
	color: #333;
}

.container {
	position: relative;
	padding: 0 18%;
	background: url("../img/mainHeaderBackground2.jpg") no-repeat center center
		fixed;
	background-size: cover;
}

.container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* 50% opacity black overlay */
	z-index: 1;
}

.back-button {
	margin-top: 10%;
	margin-bottom: 20px;
	padding: 10px;
	background-color: rgba(216, 37, 36, 0.8);
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
	z-index: 3; /* Ensure the button is above the overlay and filter-container */
	position: relative; /* Required for z-index to work */
}

.back-button:hover {
	background-color: rgba(216, 37, 36, 0.5); /* White background on hover */
	color: rgba(256, 256, 256, 0.6);
}

.movie-details {
	background-color: rgba(25, 25, 25, 0.8); /* Прозрачный фон */
	color: #fff; /* Белый текст */
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;
	position: relative;
	z-index: 2; /* Ensures the item is above the overlay */
	padding-left: 20px; /* Add left padding for the whole movie item */
}

.movie-details img {
	width: 200px;
	height: 300px;
	object-fit: cover;
	margin-right: 20px; /* Расстояние между изображением и текстом */
	border-radius: 5px;
}

.movie-info {
	margin-top: 3%;
	flex: 1;
	font-family: "Lexend", sans-serif;
	padding-left: 20px; /* Add left padding for the movie info */
}

.movie-info p {
	margin: 5px 0;
}

.movie-info strong {
	color: #d82524; /* Accent color for strong text */
}

.movie-info a {
	margin-top: 2%;
	text-decoration: none;
	background-color: rgba(216, 37, 36, 0.8); /* Red background */
	color: #ffffff; /* White text */
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
	display: inline-block;
}

.movie-info a:hover {
	background-color: rgba(216, 37, 36, 0.5); /* White background on hover */
	color: rgba(256, 256, 256, 0.6);
	text-decoration: none; /* Remove underline */
}

.session-list {
	list-style: none;
	padding: 0;
}

.session-item {
	display: flex;
	justify-content: space-between; /* Размещаем элементы на расстоянии друг от друга */
	align-items: center; /* Выравниваем элементы по вертикали */
	background-color: rgba(25, 25, 25, 0.8); /* Прозрачный фон */
	color: #fff; /* Белый текст */
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2; /* Ensures the item is above the overlay */
}

.session-info {
	flex: 1; /* Даем информации гибкость, чтобы занять оставшееся пространство */
}

.session-item p {
	margin: 0 0 10px;
}

.session-item strong {
	color: #d82524; /* Accent color for strong text */
}

.session-link {
	color: #ffffff; /* Белый текст */
	text-decoration: none;
	background-color: rgba(216, 37, 36, 0.8); /* Красный фон */
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease, color 0.3s ease;
	display: inline-block;
}

.session-link:hover {
	background-color: rgba(
		216,
		37,
		36,
		0.5
	); /* Полупрозрачный красный фон при наведении */
	color: rgba(
		256,
		256,
		256,
		0.6
	); /* Полупрозрачный белый текст при наведении */
	text-decoration: none; /* Убираем подчеркивание */
}
